<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Single Page, Chat App build on MEAN stack, MongoDB, Express.io, Angular, and Node.js"
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Chat Rooms</title>
        <!-- custom css -->     
        <link rel="stylesheet" type="text/css" href="./stylesheets/template.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/tailored.css">
        <!-- load external script -->           
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="./js/external/angular.js">
        </script>
        <script type="text/javascript" src="./js/external/angular-route.js">
        </script>       
        <script type="text/javascript" src="./js/external/jquery.min.js">
        </script>
        <!-- angular app, model, and controllers -->
        <script type="text/javascript" src="./js/app.js">
        </script>
        <script type="text/javascript" src="./js/factories/model.js"></script>
        <script type="text/javascript" src="./js/controllers/controller.js"></script>
         <!-- customized js script -->
        <script type="text/javascript" src="./js/scripts/io.js"></script>
        <script type="text/javascript" src="./js/scripts/script.js"></script>
    </head>
    <body id='app' data-ng-init="initializeMe()" ng-controller="appController" ng-app='App'>
        <div id='rooms'>
            <p>Coding Dojo Chat Rooms</p>
            <ul class="room">
                <li>#<a ng-click="setRoom('oct')" href='#/oct'> CD Oct</a></li>
                <li>#<a ng-click="setRoom('jan')" href='#/jan'> CD Jan</a></li>
                <li>#<a ng-click="setRoom('feb')" href='#/feb'> CD Feb</a></li>
            </ul>
            <% if (typeof user_id !== 'undefined') { %>
            <div id="me-container">
                <div id="me-img">
                    <img src="img/logo.gif">
                </div>
                <div id="me">
                    <p class="person"><%= username %></p>
                    <p>o Online</p>
                </div>
            </div>
            <% } else { %>
            <div id="me-container">
                <form id="create-user">
                    <label>Username</label>
                        <input type="text" ng-model="username" name="username" />
                    <label>Password</label>
                        <input type="password" ng-model="password" name="password" />
                    <button ng-click="join()" class="join">Join Chat</button>
                </form>
                <p ng-bind="notice.msg"></p>
            </div>            
            <% } %>
        </div>
        <div id='main'>
            <div id='chat'>
                <div ng-view=""></div>
            </div>
            <form action="" method="" ng-show="loggedIn" id="im">
                <input type="text" class="post" />
            </form>
        </div>
    </body>
</html>